<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" android:versionCode="4" android:versionName="1.3">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="SimpleCalc.Droid" android:icon="@drawable/icon"></application>
</manifest>